﻿@{
    ViewBag.Title = "MCHMIS - Web API Documentation";
}


<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                 MCHMIS Web Api Documentation
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
         
    </section>
</div>
